services:

  loki:
    image: grafana/loki:2.9.8
    command: -config.file=/etc/loki/local-config.yaml
    configs:
      - source: loki_config
        target: /etc/loki/local-config.yaml
    volumes:
      - loki-data:/loki
    restart: unless-stopped

  promtail:
    image: grafana/promtail:2.9.8
    command: -config.file=/etc/promtail/config.yaml
    configs:
      - source: promtail_config
        target: /etc/promtail/config.yaml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    depends_on:
      - loki
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.4.2
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_DOMAIN=grafana.deepestvibe.com
      - GF_SERVER_ROOT_URL=https://grafana.deepestvibe.com
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - loki
    restart: unless-stopped

    labels:
      - traefik.enable=true
      - traefik.http.routers.grafana.rule=Host(`grafana.deepestvibe.com`)
      - traefik.http.routers.grafana.entrypoints=https
      - traefik.http.services.grafana.loadbalancer.server.port=3000

volumes:
  loki-data:
  grafana-data:

configs:
  loki_config:
    file: ./loki-config.yaml
  promtail_config:
    file: ./promtail-config.yaml
