services:

  loki:
    build:
      context: .
      dockerfile: Dockerfile.loki
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki-data:/loki
    restart: unless-stopped

  promtail:
    build:
      context: .
      dockerfile: Dockerfile.promtail
    command: -config.file=/etc/promtail/config.yaml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    depends_on:
      - loki
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.4.2
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_DOMAIN=grafana.deepestvibe.com
      - GF_SERVER_ROOT_URL=https://grafana.deepestvibe.com
    volumes:
      - grafana-data:/var/lib/grafana
    expose:
      - "3000"
    depends_on:
      - loki
    restart: unless-stopped

volumes:
  loki-data:
  grafana-data:
